# 忽略环境文件
**/.venv/
**/.idea/
**/.vscode/
**/.pycharm/
**/.vs/

# 忽略大型数据文件夹
24_11_30/order2/data/
24_12_06/OpenSetRecognition/dataset1/
24_12_06/OpenSetRecognition/dataset2/
24_12_06/OpenSetRecognition/imgs/
24_12_06/OpenSetRecognition/mixed_dataset1/
24_12_14/SVM/images/
24_12_15/fgsm_lab/data/

# 忽略builddir
24_12_22/Qt_jpg/Jpg_process/build/